@import "~primeicons/primeicons.css";

.footer {
  height: 60px;
  width: 100%;
  background-color: #051c2d;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
}

.text {
  color: rgb(201, 157, 35);
  margin-top: 10px;
  margin-bottom: 5px;
}

.icon {
  color: rgb(201, 157, 35);
}
