<h1 class="header">Omer Pasa Latas</h1>
<p>
  Omer Pasha Latas is set in nineteenth-century Sarajevo, where Muslims and
  Christians live in uneasy proximity while entertaining a common resentment of
  faraway Ottoman rule. <br />
  is the seraskier, commander in chief of the Sultan’s armies, and as the book
  begins he arrives from Istanbul, dispatched to bring Sarajevo’s landowners to
  heel, a task that he accomplishes with his usual ferocity and efficiency. And
  yet the seraskier’s expedition to Bosnia is a time of reckoning for him as
  well: he was born in the Balkans, a Serb and a subject of the Austro-Hungarian
  Empire, a bright boy who escaped his father’s financial disgrace by running
  away and converting to Islam. Now, at the height of his power, he heads an
  army of misfits, adventurers, and outcasts from across Europe and Asia, and
  yet wherever he goes he remains a stranger. <br />
  Ivo Andrić, who won the Nobel Prize in 1961, is a spellbinding storyteller and
  a magnificent stylist, and here, in his final novel, he surrounds his
  enigmatic central figure with many vivid and fascinating minor characters,
  lost souls and hopeless dreamers all, in a world that is slowly sliding
  towards disaster. Omer Pasha Latas combines the leisurely melancholy of Joseph
  Roth’s The Radetzky March with the stark fatalism of an old ballad.
</p>
