<h1 class="header">Bosnian Chronicle</h1>
<p>
  A timeless saga of intrigue and conquest in the heart of Bosnia presents the
  struggle for supremacy in a region that stubbornly refuses to submit to any
  outsider. Andric's sweeping novel spans the seven years 1807-1814, when French
  and Austrian consul served alongside the Turkish Viziers in the remote Bosnian
  town of Travnik, distant outpost of the Ottoman Empire. Divided as the
  community is, Muslims, Catholic and Orthodox Christians, Jews and Gypsies all
  unite in a common contempt for their visitors. Isolated in a claustrophobic
  atmosphere of suspicion and mutual distrust, the consuls and Viziers vie with
  each other, following the fluctuations of their respective foreign policies.
  When international politics permit however, they console each other as best
  they can in this harsh and hostile land. <br />
  The time is Napoleonic and the novel, both in its historical scope and
  psychological subtlety, is Tolstoyan. In its portrayal of conflict and fierce
  ethnic Bosnian chronicleloyalties, the story is inevitably eerily relevant to
  readers today. Ottoman viziers, French consuls, and Austrian plenipotentiaries
  are consumed by a ceaseless game of diplomacy and double-dealing: expansive
  and courtly face-to-face, brooding and scheming behind closed doors. As they
  have for centuries, the Bosnians themselves observe and endure the
  machinations of greater powers that vie, futilely, to absorb them. Ivo Andric
  posses the rare gift in a historical novelist of creating a period-piece, full
  of local colour, and at the same time characters who might have been living
  today. His masterwork is imbued with the richness and complexity of a region
  that has brought much tragedy to our century and known so little peace.<br />
  The writer uses his native Bosnia as a microcosm of human society, stressing
  its potential for national, cultural and religious misunderstanding and
  conflict, and identifying the barriers of all kinds that hinder communication
  between individuals. Written against the background of violence released in
  these mixed communities during the Second World War, the novel now has renewed
  and poignant relevance.
</p>
