.container {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  background-color: White;
  color: #051c2d;
  box-shadow: 4px 4px 15px #051c2d;
  border-radius: 6px;
  padding: 30px;
  padding-top: 1px;
  padding-bottom: 12px;
  text-align: justify;
}
