<h1 class="header">The bridge on the Drina</h1>
<p>
  The Bridge on the Drina[a] is a historical novel by the Yugoslav writer Ivo
  Andrić. It revolves around the Mehmed Paša Sokolović Bridge in Višegrad, which
  spans the Drina River and stands as a silent witness to history from its
  construction by the Ottomans in the mid-16th century until its partial
  destruction during World War I. The story spans about four centuries and
  covers the Ottoman and Austro-Hungarian occupations of the region, with a
  particular emphasis on the lives, destinies and relations of the local
  inhabitants, especially Serbs and Bosnian Muslims.<br />
  Andrić had been Yugoslavia's ambassador to Germany from 1939 to 1941, during
  the early years of World War II, and was arrested by the Germans in April
  1941, following the Nazi German-led Axis invasion of Yugoslavia. In June 1941,
  he was allowed to return to German-occupied Belgrade but was confined to a
  friend's apartment in conditions that some biographers liken to house arrest.
  The novel was one of three that Andrić wrote over the next several years. All
  three were published in short succession in 1945, following Belgrade's
  liberation from the Germans. The Bridge on the Drina was published in March of
  that year to widespread acclaim. <br />
  In 1961, Andrić was awarded the Nobel Prize in Literature and his works became
  subject to international recognition. The Bridge on the Drina remains Andrić's
  best-known work. The Serbian filmmaker Emir Kusturica is planning a cinematic
  adaption of the novel, for which he has constructed a mock-town named after
  Andrić not far from the bridge, which was reconstructed after World War I and
  has been declared a World Heritage Site by UNESCO.
</p>
