.quotes {
  text-align: center;
  padding: 20px;
}
.button {
  // background-color: #051c2d;
  // color: rgb(201, 157, 35);
  background-color: rgb(201, 157, 35);
  color: #051c2d;
  border-color: #051c2d;
}
.button:hover {
  background-color: rgb(247, 184, 10);
}
